* {
  box-sizing: border-box;
}


body {
background: black;
outline-color:red
}

.w3-col {
  background-color: gray;
  border:  2px black double;
  font-size:18px;
}


.w3-content {

}

button {
  position:sticky;
  top:0
}

.topnav-right {
  float: right;
}
