* {
  box-sizing: border-box;
}

body,html {
  background: lightskyblue;


}

.google_translate_element {
  left:60%;
  position: absolute;
}


/* Caption text */
.text {
  color: white;
  background-color: black;
  background-size: 1px;
  text-shadow: 1px 1px black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 600px;
  width: 20%;
  text-align: center;
  right:15%;
  font-family: arial;
  margin-top: 100%;
 max-width: 400px;
 height: auto;
 object-fit: cover;
  object-position: 80% 100%;
}

.w3-round {

  border: 2px black solid;
  background-color: dodgerblue;

  position: absolute;
 max-width: 12%;
 max-height: 20%;
   width: 100%;
  object-position: center;
  transform-origin: center;
    overflow:  auto;
    object-fit: cover;
    float: left;
    right: 1.4%;
    top: 79.4%;

}

.w3-roundsound {


  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 2.4%;
   top: 81%;

}

.w3-round2 {
border: 2px black solid;
background-color: hotpink;
animation-name: tal;
position:  absolute;
max-width: 12%;
max-height: 20%;
width: 100%;
object-position:  center;
 overflow:   auto;
 object-fit: cover;
 float: right;
 top:39%;
 right:1.4%;



}



.w3-round4 {
border: 2px black solid;
background-color: olivedrab;
animation-name: plan;
animation-duration: 2s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
position:  absolute;
max-width: 12%;
max-height: 20%;
 width: 100%;
object-position:  center;
  overflow:   auto;
  object-fit: cover;
  float: right;
  top:20%;
  right:1.4%;



}
.w3-round3 {
border: 2px black solid;
background-color: navajowhite;
animation-name: worl;
animation-duration: 2s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
position: absolute;
max-width: 12%;
max-height: 20%;
 width: 100%;
object-position: center;
object-fit: scale-down;
  overflow:  auto;
  object-fit: cover;
  float: right;
  right: 1.4%;
  top: 1%;



}

.w3-roundsound2 {

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
  object-position: center;
  object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 2.4%;
   top: 42%;

}




.w3-roundsound3 {

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 2.4%;
   top: 2%;

}

.w3-roundsound4 {

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 2.4%;
   top: 22%;
}

.w3-round5 {

  border: 2px black solid;
  background-color: mediumorchid;
  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 1.4%;
   top: 58.7%;
}

.w3-roundsound5 {

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 2.2%;
   top: 60.5%;
}
.w3-round6{

  border: 2px black solid;
  background-color: lightsalmon;
  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 88.5%;
   top: 58.7%;
}

.w3-roundsound6{

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 89.5%;
   top: 60.5%;
}


.responsive {
  width: 100%;
  height: auto;
}

.w3-round7 {
border: 2px black solid;
background-color: firebrick;
animation-name: worl;
animation-duration: 2s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
position: absolute;
max-width: 12%;
max-height: 20%;
 width: 100%;
object-position: center;
object-fit: scale-down;
  overflow:  auto;
  object-fit: cover;
  float: right;
  right: 88.5%;
  top: 1%;
}

.w3-roundsound7 {

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 89.5%;
   top: 2%;

}

.w3-round8 {
border: 2px black solid;
background-color: gainsboro;
animation-name: plan;
animation-duration: 2s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
position:  absolute;
max-width: 12%;
max-height: 20%;
 width: 100%;
object-position:  center;
  overflow:   auto;
  object-fit: cover;
  float: right;
  top:20%;
  right:88.5%;

}

.w3-roundsound8 {

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 89.5%;
   top: 22%;
}

.w3-round9 {

  border: 2px black solid;
  background-color: aquamarine;
  animation-name: tal;
  position:  absolute;
  max-width: 12%;
  max-height: 20%;
  width: 100%;
  object-position:  center;
   overflow:   auto;
   object-fit: cover;
   float: right;
   top:39%;
   right:88.5%;
}

.w3-roundsound9 {

  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
  object-position: center;
  object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 89.5%;
   top: 42%;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  position: static;
  margin-top: 0%;
  top: 50%;
  left: 200%;
  width:75%;
  border: 2px solid black;
  border-style:2px solid;
  border-color: black;

}

.w3-round10 {

  border: 2px black solid;
  background-color: mintcream;

  position: absolute;
 max-width: 12%;
 max-height: 20%;
   width: 100%;
  object-position: center;
  transform-origin: center;
    overflow:  auto;
    object-fit: cover;
    float: left;
    right: 88.5%;
    top: 79.4%;

}

.w3-roundsound10 {


  position: absolute;
  max-width: 400px;
  max-height: 150px;
  width: 100%;
 object-position: center;
 object-fit: scale-down;
   overflow:  auto;
   object-fit: cover;
   float: right;
   right: 89.5%;
   top: 81%;

}


.interesting {
color:black;
font-family: arial;
background-color: lightsalmon;
flex-wrap: wrap;
left:20%;
width:16%;
height:90%;
top:-50%;
left:0%;
font-size: 10%;
position: relative;
font-size: 10px;

}

.heading {
  color:black;
  font-family: arial;
  background-color: orange;
  flex-wrap: wrap;
  left:20%;
  width:10%;
  height:90%;
  top:190%;
  left:-20%;
  font-size: 10%;
  position: absolute;
  font-size: 10px;
}


.content{
    overflow:hidden;
}



.mySlides fade {
  max-width: 1200px;
  max-height: 1200px;
}

/* CSS talk bubble */
.talk-bubble {

  left: 200px;
  position: absolute;
	width: 250px;
	height: 60px;
	background-color: lightyellow;
  font-family: arial;
  font-size: 15px;
  text-align: center;
  opacity: 0%;
  animation-duration: 3s;
  animation-iteration-count: 1;
  margin-top: 120px;
  animation-timing-function: ease-in;
  border-radius: 10%;
  animation-fill-mode: forwards;

}


@keyframes load{
  0% {opacity: 30%;transform:translate(13px,-250px)
    ; rotate:(90deg)}

  50% {transform:translate(13px,-250px)
    ; rotate:(90deg)}

  100% {transform:translate(13px,-250px)

  }
}

@keyframes loaded{
  0% {opacity: 30%;transform:translate(-116px,-280px)
    ; rotate:(90deg)}

  50% {transform:translate(-116px,-280px)
    ; rotate:(90deg)}

  100% {transform:translate(-116px,-280px)

  }
}


@keyframes talk{
  0% {opacity: 30%;transform:translate(-248px,-500px)
    ; rotate:(90deg);opacity: 60%}

  50% {transform:translate(-248px,-500px)
    ; rotate:(90deg);opacity: 60%}

  100% {transform:translate(-248px,-500px)

  }
}

@keyframes talkaudio{
  0% {opacity: 30%;transform:translate(-375px,-660px)
    ; rotate:(90deg);opacity: 60%}

  50% {transform:translate(-375px,-660px)
    ; rotate:(90deg);opacity: 60%}

  100% {transform:translate(-375px,-660px)

  }
}


@keyframes world{
  0% {opacity: 30%;transform:translate(734px,-500px)
    ; rotate:(90deg);opacity 60%}

  50% {transform:translate(734px,-500px)
    ; rotate:(90deg);opacity: 60%}

  100% {transform:translate(734px,-500px)

  }
}
@keyframes worldaudio{
  0% {opacity: 30%;transform:translate(613px,-660px)
    ; rotate:(90deg);opacity: 60%}

  50% {transform:translate(613px,-660px)
    ; rotate:(90deg);opacity: 60%}

  100% {transform:translate(613px,-660px)

  }
}

@keyframes plane{
  0% {opacity: 30%;transform:translate(472px,-240px)
    ; rotate:(90deg);opacity: 60%}

  50% {transform:translate(472px,-240px)
    ; rotate:(90deg);opacity: 60%}

  100% {transform:translate(472px,-240px)

  }
}

@keyframes planeaudio{
  0% {opacity: 30%;transform:translate(350px,-270px)
    ; rotate:(90deg);opacity: 60%}

  50% {transform:translate(350px,-270px)
    ; rotate:(90deg);opacity: 60%}

  100% {transform:translate(350px,-270px)

  }
}


</style>
