* {
  box-sizing: border-box;
}

body{
  margin:0;
}

.container {
  background: ghostwhite;
  height:100vh;
  display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid grey;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #555;

}

.square {
  height: 50px;
  width: 50px;
  background-color: grey;
  animation-name: pulse;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in
}

@keyframes pulse {
  0% {
    background: grey;
    transform:scale(1);
  }
  100% {
    background: pink;
    transform:scale(2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg)
  }
}
