* {
  box-sizing: border-box;
}

.container {
  background: orange;
  height:600px;
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:30px;
  padding:30px

}

.item {
  background: green;
  color:white;
  height:80px;
  width:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family:arial;
  font-size: 25px;
  opacity: 80%;
  font-style: italic;
}
