* {
  box-sizing: border-box;
}

body,html {
  margin: auto;
  background: red;
  height:100%


}


.img {
  width:100%;
}

w3-top {
  font-family: helvetica;
}


.w3-container {
  background-color: blue;

}

/* Container holding the image and the text */
.container {
  position:  relative;
  text-align: center;
  color: white;


}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 10%;
  height:10%;
  align-content: center;
  font-size: 70px;
}


.w3-cell row {
  width:50%;
  height: 40%;
}

header class{
background-color: yellow;
}


.w3-button {
  background-color: yellow;
}

}
/* The navbar container */
.topnav {
  overflow: scroll;
  background-color: #333;
  font-family: helvetica;
}






/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
