* {
  box-sizing: border-box;
}


body {
background: ghostwhite;
margin:auto;
margin-top: 10%
}



.border {
  width: 10%;
  height:5%;
  color: black
}


div.sticky {
  position: -webkit-sticky;
  position: fixed;
  bottom: 0%;
  width:100%;
  height:8%;
  z-index:1;
  margin-top: 10%;
  background-color: red;
  padding: 10px;
  font-size: 20px;
}
