* {
  box-sizing: border-box;
}

body {
  background: seagreen
}

img {
  max-width: 100%;
}

.header {
  background: lavender;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  gap:10px;
  margin-bottom: 10px;
}

.nav{
background: :lavender
}
.center {
  width: 50%;
  background: lavender;
}

.right {
  width: 50%;
  background:lavender
}

.footer {
  background: lavender;
  padding: 10px;
}

@media screen and (max-width:600px) {
  body {
    background: orchid;
  }

  main-container {
    flex-direction:column;
  }

  .nav,.center,.right{
    width:100%
  }
}

@media screen and (max-width:600px) {
  html {
    font-size: 12px;
}

body {
  background: lightsalmon;
}
