* {
  box-sizing: border-box;
}


body {
background: lightgrey;
margin: 0%



}



div.sticky {
  position: -webkit-sticky;
  position: fixed;
  bottom: 0%;
  width:100%;
  height:8%;
  z-index:1;
  margin-top: 10%;
  background-color: red;
  padding: 10px;
  font-size: 20px;
}
label {
  font-size:15px;

}

button {
  background-color:red;
  outline-offset: inherit;
}

button:hover{
  background-color:red;
  color:white
}

input {
  background-color:white;
  width:30%;
  height:100%;
  padding: 5px;

}

input:hover {
  background-color: ghostwhite
}


a:link:hover {
  background-color: red
}



button,
input {
  display: block;
  margin-bottom: 10px;
}

#alert {
  display: none;
  color: red;
  margin-bottom: 0px;
}
