* {
  box-sizing: border-box;
}


body {
background: white
}

w3-half {
  padding: 50%;
  position:
}

div.sticky {
  position: -webkit-sticky;
  position: fixed;
  bottom: 0%;
  width:100%;
  height:8%;
  z-index:1;
  margin-top: 10%;
  background-color: red;
  padding: 10px;
  font-size: 20px;
}
